/* print.css */
body .clear {
    display:none;
}
.crm-form-block {
    overflow:hidden;
}
body {
    line-height:1.5;
    font-family:Arial, Helvetica, sans-serif;
    color:#000;
    background-color:#f9f5ec;
    font-size:10pt;
    overflow-x: hidden;
}
hr {
    background:#fff;
    width:100%;
    margin:1em 0;
    padding:0;
    border:none;
    height:1px;
    border-top:1px dotted #fff;
}
hr.space {
    background:#fff;
    color:#fff;
    visibility:hidden;
}

h1, h2, h3, h4, h5, h6, #crm-container h3 {
    font-family:Myriad, "Myriad Pro", "Helvetica Neue", Arial, "Lucida Grande", sans-serif;
    font-weight:normal;
    line-height:1;
    color: #556C82;
    margin:0;
}
    h2, 
    .crm-accordion-header,
    .crm-accordion-hasContent .crm-accordion-header {
        font-family:Myriad, "Myriad Pro", "Helvetica Neue", Arial, "Lucida Grande", sans-serif;
        font-size:24px;
        margin-bottom:5px;
        color: #556C82;
        font-weight:normal;
    }
    #crm-container h3 {
        background:none;
        padding:0px;
    }
    
code {font:.9em "Courier New", Monaco, Courier, monospace;}
a img {border:none;}
p img.top {margin-top:0;}
blockquote {margin:1.5em;padding:1em;font-style:italic;font-size:.9em;}
.small {font-size:.9em;}
.large {font-size:1.1em;}
.quiet {color:#999;}
.hide, .icon.settings-icon, a#expand  {display:none!important;}
a:link, a:visited {background:transparent;font-weight:normal;text-decoration:underline;}

#header {
    background:#036 url(../images/bluet1.jpg) repeat-x left bottom;
    padding:20px 25px;
    border-bottom:1px solid white;
}
    #header h1 {
        color:#eee;
    }
    #civicrm-menu {
        padding:5px 0px 5px 18px;
        background:#036 url(../images/bluet1.jpg) repeat-x left top;
    }
        #civicrm-menu li {
            border:0px none;
        }
        .ac_results {
            padding:0px;
            -moz-border-radius:4px;
            -webkit-box-shadow: 0px 0px 6px #333;
            -moz-box-shadow: 0px 0px 6px #333;
        }
        .ac_results-inner {
            background:#fff;
            border:1px solid #ddd;
            font-size:16px;
            
        }
            .ac_results li.ac_over,
            .ac_results .ac_results-inner li.ac_even,
            .ac_results .ac_results-inner li.ac_odd {
                font-family:Myriad, "Myriad Pro", "Helvetica Neue", Arial, "Lucida Grande", sans-serif;
                background:transparent;
                color:#333;
                font-size:16px;
                cursor:pointer;
                padding:6px 7px;
                -moz-border-radius:4px 4px 4px 4px;
                -webkit-border-radius:4px 4px 4px 4px;
            }
            .ac_results li.ac_over strong,
            .ac_results li strong {
                color:#333;
                background:#fea;
            }
            .ac_results .ac_results-inner li.ac_over {
                background:#eee;
            }
            
            .crm-actions-ribbon {
                height:20px;
            }
            #crm-event-links-list, 
            #crm-create-new-list, 
            #crm-contact-actions-list, 
            #crm-participant-list {
                position:absolute;
                background:#666;
                font-size:16px;
            }
                #crm-event-links-list li.ac_over, 
                #crm-create-new-list li.ac_over, 
                #crm-contact-actions-list li.ac_over, 
                #crm-participant-list  li.ac_over {
                    font-size:12px;
                    font-family:'Lucida Grande', Arial, sans-serif;
                }
            .crm-contact-actions-list-inner {
                background:#666;
            }
    
#container-wrapper {
    padding-top:30px;
    background:#f9f5ec url(../images/shadow-w.png) repeat-x left top;
    
}
#content { 
    margin-left:25px;
    margin-right:25px;
}
    #content #crm-container .crm-content-block,
    #content #crm-container .crm-form-block {
        background-color:#f9f5ec;
    }
        #content #crm-container .crm-form-block {
            background:#fff;
            padding:20px;
        }
        #content #crm-container .crm-block .crm-block,
        #content #crm-container .crm-content-block .crm-content-block,
        #crm-container div#alpha-filter {
            background:none;
        }
         #content #crm-container #mainTabContainer {
             width:100%;
             float:left;
         }
    #content #crm-container .ui-tabs-panel {
        padding:20px;
        background:#fff;
        -moz-border-radius:6px 6px 6px 6px;
        -webkit-border-radius:6px 6px 6px 6px;
        border:1px solid #ddd;
        -webkit-box-shadow: 0px 0px 3px #ccc;
        -moz-box-shadow: 0px 0px 3px #ccc;
        margin-left:200px;
    }
    #content #mainTabContainer .crm-contact-tabs-list {
        width:200px;
        float:left;
    }
        .ui-tabs .ui-tabs-nav {
            background:transparent;
            padding:0;
        }
            #content .ui-tabs .ui-tabs-nav li.crm-tab-button {
                background:transparent;
                display:block;
                width:100%;
            }
    
    #crm-container .odd-row { 
        background:none; 
    }
    #crm-container table {
        border:0px none;
    }
        #crm-container table.display td {
            border-right:0;
            border-left:0;
        }
        
    #crm-container .primary {
        font-weight:normal;
    }
    
    #tags {
        margin-bottom:.5em;
        border-bottom:1px dotted #ccc;
        padding-bottom:1em;
    }
    

#left-sidebar {
    display:none;
    float: left;
    width: 200px; /*Width of left column*/
    padding-left:21px;
}
    .block-civicrm div#recently-viewed ul li {
        border:0px none;
        background:transparent;
    }
    
#footer {
    
}
    #civicrm-footer {
        display:none;
    }

/* Actions */


/* @group blueprint overrides */

body {
  margin: 0;
}

div.container {
  margin: 23px auto 0px auto;
}

#crm-container a, 
#crm-container a:link,
a:link {
  color: #0495CC;
  color: #223366;
  border-bottom:1px dotted #223366;
}

a:visited {
  color: #0495CC;
}

a:hover,a:focus,a:active {
  color: #556C82;
}


thead th, th {
  background: #f7f7f7;
  border-bottom: 1px solid #ccc;
  color: #333;
}

th a img {
  margin: 0;
}

tr.even td {
  background: #F1F5FA;
}

tr.odd td {
  background: #fff;
}

#crm-container tr {
    font-size:1em;
}
#crm-container tr.columnheader {
    border:0px none;
}

fieldset dl, fieldset select {
  margin: 0;
}

.box {
  background: #f7f7f7;
}

.box fieldset {
  background: #fff;
}

div.form-item div.description img {
  margin: 0;
}

div.messages {
  margin-bottom: 1.5em;
  padding: 0.68em;
  font-weight: bold;
}

div.messages.success {
  border-left: 1px solid #7AC142;
  color: #55872E;
  background: #F1F8EB;
}

div.messages ul {
  margin-bottom: 0;
}

/* @end */

/* @group drupal overrides */

div.admin {
  padding-top: 0; /* fix alignment of admin panel */
}

div.admin-panel {
  padding: 1.5em 0 0 0;
}

div.admin-panel .body {
  padding: 0;
}

div.admin-panel .description {
  margin: 0 0 1.5em 0;
  padding: 0;
}

div.admin .left,
div.admin .right {
  margin:0;
}

#user-admin-filter ul li,
#node-admin-filter ul li {
  list-style: none; /* remove list style from content node filter */
}

.more-help-link {
  font-size: 0.9em;
  line-height: 1.667em;
}

/* Form styles */


input.form-text, textarea {
  border: 1px solid #ccc;
  padding: 0.2em;
}

textarea, input {
  font-size: 1em;
  vertical-align:text-bottom;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

div.form-item {
  margin-bottom: 1.5em;
  margin-top: 1.5em;
}

.form-item label {
    font-weight:normal;
    }
    

div.error, tr.error, span.form-required, span.marker {
  color: #8A1F11;
}

.form-item input.error, .form-item textarea.error, .form-item select.error {
  border: 1px solid #DD7777;
  background: #FFCCCC;
  color: #8A1F11;
}

#crm-container label,
#crm-container form table label {
    font-weight:bold;
    display:inline-block;
    width:140px;
    color:#666;
}

input.form-text, 
#crm-container input[type="text"], 
#crm-container input[type="password"], 
#crm-container select, 
#crm-container textarea {
    padding:3px;
}
    #crm-container input.form-text,
    #crm-container input[type="text"] {
        width:200px;
    }
        #crm-container .zip-form input.form-text,
        #crm-container .zip-form input[type="text"] {
            width:4em;
        }
    .form-item {
        margin-bottom:1em;
    }
        .form-item strong.error {
          display: block;
        }

        .form-item textarea.error {
          padding: 0.2em;
        }

        .form-item .description {
          font-size: 0.9em;
          line-height: 1.667em; /* more accurate line-height value */
        }
        .shared-address {
            background:#eee;
            -moz-border-radius:4px;
            -webkit-border-radius:4px;
            border-radius:4px;
            padding:10px;
        }
        
    #form-first-name input,
    #form-last-name input,
    #form-first-name select {
        font-size:20px;
    }
        #form-last-name select {
            padding:2px;
        }

.crm-accordion-header {
    background:#fff;
    padding:0px;
}
    .crm-accordion-pointer {
        display:none;
    }
    body #crm-container .crm-accordion-wrapper .crm-accordion-body {
        border:0px none;
    }
    
    
    
.left-half {
    width:49%;
    float:left;
}
.right-half {
    width:49%;
    float:right;
}


/* fix admin/settings/performance */


fieldset {
  background: #f7f7f7;
  border: 1px solid #ccc;
  padding: 0.5em;
}

fieldset legend {
  display: block;
  font-size: 1em;
  background: #fff;
  border: 1px solid #ccc;
  padding: 0 0.4em;
}

#fieldset-custom label {
    display:block;
}

/* prevent uncessary scrollbars */
fieldset .collapsible {
  overflow: hidden;
}

textarea {
  line-height: 1.5em;
  height: auto;
}

div.resizable-textarea textarea {
  margin-top: 0;
}

html.js fieldset.collapsed {
  background: none;
}

html.js fieldset.collapsible legend a {
  background: transparent url(../images/icons/menu-expanded.gif) no-repeat scroll 0% 50%;
  text-decoration: none;
}

html.js fieldset.collapsed legend a {
  background: transparent url(../images/icons/menu-collapsed.gif) no-repeat scroll 0% 50%;
}

ul.menu li, .item-list ul li {
  margin: 0;
  padding: 0;
}

.tips {
  font-size:1em;
  margin-left:3em;
}

/* remove bottom margins from nested ul elements in menus */

ul.menu li ul {
  margin-bottom: 0;
}

.block ul, ul.menu, .item-list ul {
  margin: 0pt 1.5em 1.5em;
  padding: 0;
}

ul li, ul.menu li, .item-list ul li, li.leaf {
  list-style-image: url(../images/icons/menu-leaf.gif);
}

ul li.expanded {
  list-style-image: url(../images/icons/menu-expanded.gif);
}

ul li.collapsed {
  list-style-image: url(../images/icons/menu-collapsed.gif);
}

div.tabs {
  margin-bottom: 1.5em;
}

ul.secondary {
  margin: 0;
  padding: 0;
}

ul.secondary li {
  padding: 0 0.7em 0 0; /* align subtabs flush to edge */
  margin: 0 0.5em 0 0;
}

ul.primary {
  margin: 1.5em 0;
  line-height: 1.417; /* account for 1px bottom border */
}

ul.primary li a {
  background: #f7f7f7;
  padding: 3px 10px 2px 10px; /* fix alignment of tabs */
}

div.help {
  background: #ffc;
  padding: 0.75em; /* fix alignment of help text */
  margin-bottom: 1.5em;
}

/* fix alignment on user profile page */

.profile dt {
  margin: 1.5em 0 0 0;
}

/* fix book module */

.book-navigation .page-links {
  background: #F1F5FA;
  border: none;
  padding: 0.75em;
  margin-bottom: 1.5em;
}

.book-navigation .menu {
  padding: 1.417em 0 0 3em;
  margin: 0 0 1.5em 0;
  border-color: #bbb;
}

/* @end */

/* @group basic elements */

blockquote {
  background: url(../images/lquote.png) no-repeat left top;
  font-size: 1em;
  margin: 0 0 1.5em 0;
  padding: 0 0 0 40px;
}

blockquote p {
  margin: 0;
}

#saving {
  background: url(../images/loading.gif) no-repeat 12px 1px;
  padding-left: 36px;
  font-weight: bold;
  font-size: 1em;
  display: none;
}

#saving p {
  margin: 0;
}

#saving-notice {
  font-size: 0.9em;
  background: #ffc;
  font-style: italic;
}

/* @end */

/* @group nodes */

div.node {
  margin: 0 0 1.5em 0;
  padding: 0 0 1.417em 0;
  border-bottom: 1px solid #ccc;
}

div.node h2 {
  margin-bottom: 0;
}

div.node div.meta {
  font-size: 0.9em;
  line-height: 1.667em;
  margin-bottom: 1.667em;
}

div.meta div.submitted, div.meta div.terms {
  display: inline;
}

div.node div.picture {
  float: right;
  margin: 0 0 0.8em 0.8em;
}

div.node ul.links {
  display: block;
  text-align: right;
}

div.node div.meta ul.links {
  display: inline;
  padding: 0 1em 0 0;
}

/* @end */

/* @group comments */

div.comment-content {
  margin-right: 10px;
}

div.comment div.picture {
  text-align: right;
  float:left;
}

div.comment span.username {
  font-weight: bold;
}

div.comment span.date {
  font-style: italic;
}

div.comment span.new {
  color: #5B1100;
  font-weight: bold;
}

div.comment div.permalink {
  width:32px;
  float:right;
  text-align:right;
}

div.comment img {
  margin: 0;
  border: 1px solid #ccc;
  padding:1px;
}

div.comment {
  padding: 0.75em 1em;
  margin: 1.5em 0;
}

div.comment.odd {
  background: #F1F5FA;
}

div.comment.author {
  background: #ffc;
}

h3#comment-number {
  margin-top: 1em;
}

div.indented {
  margin-left:40px;
}

/* @end */

/* @group blocks */

div.block {
  margin-bottom: 1.5em;
}

/* @end */

/* @group block editing */

  div.block.with-block-editing
  {
    position: relative;
  }

  div.block.with-block-editing div.edit
  {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 40;
    border: 1px solid #eee;
    padding: 0 2px;
    font-size: 9px;
    background-color: #fff;
  }

  div.block.with-block-editing:hover div.edit
  {
    display: block;
  }

/* @end */

/* @group pager */

ul.pager {
  line-height: 1.667em;
  margin: 1.667em 0;
  font-size: 0.9em;
}

ul.pager a, ul.pager li.pager-current {
  border: 1px solid #0066B3;
  text-decoration: none;
  margin-right: 3px;
  padding: 3px 6px;
}

ul.pager li.pager-current {
  background: #0066B3;
  color: #fff;
}

ul.pager a:link,
ul.pager a:visited {
  color:#0066B3;
}

ul.pager a:hover,
ul.pager a:focus,
ul.pager a:active {
  background-color: #0066B3;
  color: #fff;
  border: 1px solid #0066B3;
}

ul.pager span.pager-ellipsis {
  padding: 0 0.5em;
}

.item-list .pager li { 
  padding:0em;
}

/* @end */

#user-login-form li.openid-link, 
#user-login li.openid-link {
  background-position: 0 0;
  padding-left:18px;
}

/* @group Fixes */

/* These are fixes to an issue in blueprint.
See: http://blueprintcss.lighthouseapp.com/projects/15318-blueprint-css/tickets/94-checkbox-and-radio-button-alignment
http://drupal.org/node/491052
http://drupal.org/node/700464 */

input[type=checkbox], input[type=radio], input.checkbox, input.radio {
  top: 0;
  margin:0 4px 0 0;
}

textarea, input {
  vertical-align: inherit;
}

/* @end */


ul li, ul.menu li, .item-list ul li, li.leaf {
    list-style-image:none;
}


/* ================= */
/* ! civicrm fixes   */
/* ================= */

input.form-submit {
    text-shadow:0 1px 0 black;	
    background:#70716B url(../images/crm-button-bg.gif) repeat-x top left;
    color: #FFF;
    font-size:12px;
    font-weight:normal;
    margin-right: 6px;
    padding: 2px 6px;
    text-decoration: none;
    cursor: pointer;
    border:1px solid #3e3e3e;
    -moz-border-radius: 	3px; 
	-webkit-border-radius: 	3px;   
	-khtml-border-radius: 	3px; 
	border-radius:			3px;
    }
    
/* 	
	FLOATCONTAINER 
	Adding class="floatcontainer" to an element forces an 
	element to expand around floated items,
	instead of collapsing.
*/
.floatcontainer {
    overflow:auto;
}
/* End floatcontainer 
Hack */ 


