#crm-container .crm-contact-page {
    background-color: #6FC0F3;
    padding: 4px;
    }
#crm-container #mainTabContainer {
    background-color: transparent;
    padding: 0px;
    }
    
   
.ui-widget-content { background: transparent; } /* override of jquery-ui.css that creates weird white background */    